body{ 
    font-family: 'Oswald', sans-serif;
   margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 400px;
    width: 100%;
}
    #header{
    background-color: silver;
    border-radius: 50px 0px 0px 50px;
    height: 400px;
    width: 50%;
    left: 0;
    float: left;
}
#result{
    border-radius: 0px 50px 50px 0px;
    align-content: flex-end;
    width: 49%;
    height: 400px;
    float: right;
}
h1{
    text-align: center;
    font-size: 18px;
}
#currency{
    border-radius: 15px;
    margin-left: 250px;
    width:100px;
   font-size: 18px;
   background-color: slategray;
}
#sdate, #ndate{
    text-align: center;
    margin-left: 50px;
    border-radius: 15px;
    font-size: 18px;
}
#btnGetRateValute{
    margin-top: 200px;
    border-radius: 15px;
    margin-left: 200px;
    width:100px;
   font-size: 18px;

}
p{
    margin-left: 10px;
}